@import "external/bootstrap-5.3.3-dist/css/bootstrap.css";
/*@import "external/bootstrap-5.3.3-dist/css/bootstrap.min.css";
@import "external/bootstrap-5.3.3-dist/css/bootstrap.rtl.css";
@import "external/bootstrap-5.3.3-dist/css/bootstrap.rtl.min.css";*/



@font-face {
	font-display: swap;
	font-family: 'Alfa Slab One';
	font-style: normal;
	font-weight: 400;
	src: url('external/alfa-slab-one-v19-latin-regular.woff2') format('woff2');
}

.anchor{
    scroll-margin-top: 100px;
}

.link-btn{
    @media only screen and (max-width: 800px) {
        flex-direction: column;
        --bs-border-radius: sm ;
    }
    @media only screen and (min-width: 800px) {
        flex-direction: row;
    }

}

.alfa{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.album{
    height: 20vh;
}

.title{
    margin: auto;
    width: inherit;
	font-size: 10vw;
	text-align: center;
}